*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #585858 !important;
    font-family: monospace;
}
.tabla{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    width: 320px;
}
.celda{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.celda:hover{
    cursor: pointer;
}
h1:hover{
    cursor: pointer;
}
